@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee&family=Darker+Grotesque:wght@300..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Mozilla+Text:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Silkscreen:wght@400;700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.tomorrow-thin {
  font-family: "Tomorrow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.tomorrow-extralight {
  font-family: "Tomorrow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tomorrow-light {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tomorrow-regular {
  font-family: "Tomorrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tomorrow-medium {
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tomorrow-semibold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.tomorrow-bold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tomorrow-extrabold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tomorrow-black {
  font-family: "Tomorrow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.tomorrow-thin-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.tomorrow-extralight-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.tomorrow-light-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.tomorrow-regular-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.tomorrow-medium-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.tomorrow-semibold-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.tomorrow-bold-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.tomorrow-extrabold-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.tomorrow-black-italic {
  font-family: "Tomorrow", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-size: 79px;
  padding-top: 0em;
  color: rgb(27, 210, 97);
  margin-bottom: -0.3em;
}


.darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
}

.tinta span{
    
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 2px 2px 0px black;
    font-style: oblique;
    font-size: 20px;
}